{% extends "layout/base_all.html" %}
{% load static %}

{% block content %}
	<section class="page">
		<!-- ***** Page Top Start ***** -->
		<div class="cover" data-image="assets/images/photos/parallax.jpg">
			<div class="page-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h1>Mobile Stats</h1>
						</div>
						<div class="col-lg-12 text-center">
							<ol class="breadcrumb">
								<li><a href="index-1.html">Home</a></li>
								<li><a href="our-work.html">Our Work</a></li>
								<li class="active">Mobile Stats</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Page Top End ***** -->

		<!-- ***** Page Content Start ***** -->
		<div class="page-bottom pbottom-80">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-12 col-sm-12">
						<div class="app-single">
							<!-- ***** App Header Start ***** -->
							<div class="header">
								<div class="row">
									<div class="col-lg-2 col-md-2 col-sm-12">
										<div class="icon">
											<img src="assets/images/icons/apps/1.png" class="img-fluid" alt="">
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-12">
										<div class="title">
											<h2>Mobile Stats</h2>
											<ul class="stars">
												<li><i class="fa fa-star active"></i></li>
												<li><i class="fa fa-star active"></i></li>
												<li><i class="fa fa-star active"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li>(144)</li>
											</ul>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="download-buttons">
											<a href="#"><img src="assets/images/download-apple-store.svg" alt=""></a>
											<a href="#"><img src="assets/images/download-google-play.svg" alt=""></a>
										</div>
									</div>
								</div>
							</div>
							<!-- ***** App Header End ***** -->
						
							<!-- ***** App Description Start ***** -->
							<div class="item">
								<div class="content">
									<h5 class="title">Description</h5>
									<div class="text">
										<p>Donec cursus, tortor vel efficitur finibus, velit nisl iaculis lorem, a rhoncus erat risus id massa. Nulla blandit, eros a pretium malesuada, quam elit pretium nunc, eget placerat ligula quam eget urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
										<p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce egestas nisi mauris, mattis mollis nisl malesuada ac. Ut feugiat, velit ac dictum tempor, nibh massa porttitor enim, vel accumsan nunc ligula eu eros.</p>
									</div>
								</div>
							</div>
							<!-- ***** App Description End ***** -->
						
							<!-- ***** Screenshot Start ***** -->
							<div class="item">
								<div class="content">
									<h5 class="title">Screenshots</h5>
									<div class="row gallery">
										<div class="col-lg-4 col-md-4 col-sm-6 col-6">
											<a class="gallery-item" href="assets/images/mockup/1.png" title="Screenshot 1">
												<img src="assets/images/mockup/1.png" class="img-fluid" alt="">
											</a>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-6 col-6">
											<a class="gallery-item" href="assets/images/mockup/2.png" title="Screenshot 2">
												<img src="assets/images/mockup/2.png" class="img-fluid" alt="">
											</a>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-6 col-6">
											<a class="gallery-item" href="assets/images/mockup/3.png" title="Screenshot 3">
												<img src="assets/images/mockup/3.png" class="img-fluid" alt="">
											</a>
										</div>
									</div>
								</div>
							</div>
							<!-- ***** Screenshot End ***** -->
						
							<!-- ***** Version History Start ***** -->
							<div class="item border-none">
								<div class="content">
									<h5 class="title">Version History</h5>
									<div class="text">
										<div class="release-notes">
											<div class="line"></div>
											<div class="version-row">
												<div class="version-number">
													<span>1.6.5</span>
												</div>
												<div class="version-content">
													<h5 class="version-title">March 19th 2019</h5>
													<div class="version-item">
														<span class="blue">FIXED</span>
														<p>Publish Repository does not let you publish to an organization on your Enterprise account.</p>
													</div>
												</div>
											</div>
											<div class="version-row">
												<div class="version-number">
													<span>1.6.4</span>
												</div>
												<div class="version-content">
													<h5 class="version-title">March 12th 2019</h5>
													<div class="version-item">
														<span class="blue">FIXED</span>
														<p>Embedded Git not working for core.</p>
													</div>
													<div class="version-item">
														<span class="blue">FIXED</span>
														<p>"Recover missing repository" can get stuck in a loop.</p>
													</div>
												</div>
											</div>
											<div class="version-row">
												<div class="version-number">
													<span>1.6.3</span>
												</div>
												<div class="version-content">
													<h5 class="version-title">March 6th 2019</h5>
													<div class="version-item">
														<span class="green">NEW</span>
														<p>Display "pull with rebase" if a user has set this option in their config.</p>
													</div>
													<div class="version-item">
														<span class="blue">FIXED</span>
														<p>Context menu does not open when right clicking on the edges of files.</p>
													</div>
													<div class="version-item">
														<span class="blue">FIXED</span>
														<p>Display question mark in img when no commit selected in dark theme.</p>
													</div>
													<div class="version-item">
														<span class="blue">FIXED</span>
														<p>No left padding for :emoji:/@user/#issue autocomplete forms.</p>
													</div>
												</div>
											</div>
											<div class="version-row">
												<div class="version-number">
													<span>1.6.2</span>
												</div>
												<div class="version-content">
													<h5 class="version-title">February 13th 2019</h5>
													<div class="version-item">
														<span class="green">ADDED</span>
														<p>Users to also resolve conflicts when resolving merge conflicts.</p>
													</div>
													<div class="version-item">
														<span class="green">ADDED</span>
														<p>Crystal and Julia syntax highlighting.</p>
													</div>
													<div class="version-item">
														<span class="green">NEW</span>
														<p>Lua and Fortran syntax highlighting.</p>
													</div>
													<div class="version-item">
														<span class="red">REMOVE</span>
														<p>Abbreviated commits are not long enough for large repositories.</p>
													</div>
													<div class="version-item">
														<span class="blue">FIXED</span>
														<p>Users to also resolve conflicts when resolving merge conflicts.</p>
													</div>
													<div class="version-item">
														<span class="blue">FIXED</span>
														<p>Crystal and Julia syntax highlighting.</p>
													</div>
													<div class="version-item">
														<span class="blue">FIXED</span>
														<p>Lua and Fortran syntax highlighting.</p>
													</div>
													<div class="version-item">
														<span class="blue">FIXED</span>
														<p>Abbreviated commits are not long enough for large repositories.</p>
													</div>
												</div>
											</div>
											<div class="version-row mbottom-0">
												<div class="version-number">
													<span>1.6.1</span>
												</div>
												<div class="version-content">
													<h5 class="version-title">February 8th 2019</h5>
													<div class="version-item">
														<span class="green">ADDED</span>
														<p>Users to also resolve conflicts when resolving merge conflicts.</p>
													</div>
													<div class="version-item">
														<span class="red">REMOVE</span>
														<p>Crystal and Julia syntax highlighting.</p>
													</div>
													<div class="version-item">
														<span class="blue">FIXED</span>
														<p>Lua and Fortran syntax highlighting.</p>
													</div>
													<div class="version-item">
														<span class="blue">FIXED</span>
														<p>Abbreviated commits are not long enough for large repositories.</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- ***** Version History End ***** -->
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12">
						<!-- ***** App Item Start ***** -->
						<a href="app-single.html" class="page-app">
							<div class="app-top">
								<div class="icon">
									<img src="assets/images/icons/apps/1.png" alt="">
								</div>
								<div class="app-title">
									<h5 class="title">Mobile Stats</h5>
									<ul class="stars">
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li>(144)</li>
									</ul>
								</div>
							</div>
							<div class="app-content">
								<div class="text">
									Nunc luctus ante nec turpis faucibus varius. Sed consectetur urna sed odio varius vehicula. Aenean
									tincidunt venenatis ex.
								</div>
								<ul class="app-table">
									<li>
										<div class="table-title">Size</div>
										<div class="table-content">16.8 MB</div>
									</li>
									<li>
										<div class="table-title">Category</div>
										<div class="table-content">Office</div>
									</li>
									<li>
										<div class="table-title">Languages</div>
										<div class="table-content">English, Dutch</div>
									</li>
									<li>
										<div class="table-title">Age Rating</div>
										<div class="table-content">Rated 12+</div>
									</li>
									<li>
										<div class="table-title">Price</div>
										<div class="table-content">Free</div>
									</li>
								</ul>
								<div class="users">
									<ul class="images">
										<li><img src="assets/images/photos/users/1.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/2.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/3.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/4.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/5.jpg" alt=""></li>
									</ul>
									<span>+138 MORE</span>
								</div>
							</div>
						</a>
						<!-- ***** App Item End ***** -->
					
						<!-- ***** App Item Start ***** -->
						<a href="app-single.html" class="page-app">
							<div class="app-top">
								<div class="icon">
									<img src="assets/images/icons/apps/2.png" alt="">
								</div>
								<div class="app-title">
									<h5 class="title">Online Shopping</h5>
									<ul class="stars">
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li>(72)</li>
									</ul>
								</div>
							</div>
							<div class="app-content">
								<div class="text">
									Nunc luctus ante nec turpis faucibus varius. Sed consectetur urna sed odio varius vehicula. Aenean
									tincidunt venenatis ex.
								</div>
								<ul class="app-table">
									<li>
										<div class="table-title">Size</div>
										<div class="table-content">23.2 MB</div>
									</li>
									<li>
										<div class="table-title">Category</div>
										<div class="table-content">e-Commerce</div>
									</li>
									<li>
										<div class="table-title">Languages</div>
										<div class="table-content">English, Czech</div>
									</li>
									<li>
										<div class="table-title">Age Rating</div>
										<div class="table-content">Rated 12+</div>
									</li>
									<li>
										<div class="table-title">Price</div>
										<div class="table-content">
											<div class="price">$9.99</div>
										</div>
									</li>
								</ul>
								<div class="users">
									<ul class="images">
										<li><img src="assets/images/photos/users/6.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/7.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/8.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/9.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/10.jpg" alt=""></li>
									</ul>
									<span>+73 MORE</span>
								</div>
							</div>
						</a>
						<!-- ***** App Item End ***** -->
					
						<!-- ***** App Item Start ***** -->
						<a href="app-single.html" class="page-app">
							<div class="app-top">
								<div class="icon">
									<img src="assets/images/icons/apps/3.png" alt="">
								</div>
								<div class="app-title">
									<h5 class="title">Pocket Office</h5>
									<ul class="stars">
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star "></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li>(21)</li>
									</ul>
								</div>
							</div>
							<div class="app-content">
								<div class="text">
									Nunc luctus ante nec turpis faucibus varius. Sed consectetur urna sed odio varius vehicula. Aenean
									tincidunt venenatis ex.
								</div>
								<ul class="app-table">
									<li>
										<div class="table-title">Size</div>
										<div class="table-content">168.8 MB</div>
									</li>
									<li>
										<div class="table-title">Category</div>
										<div class="table-content">Office</div>
									</li>
									<li>
										<div class="table-title">Languages</div>
										<div class="table-content">English, Arabic</div>
									</li>
									<li>
										<div class="table-title">Age Rating</div>
										<div class="table-content">Rated 12+</div>
									</li>
									<li>
										<div class="table-title">Price</div>
										<div class="table-content">
											<div class="price">$1.99</div>
										</div>
									</li>
								</ul>
								<div class="users">
									<ul class="images">
										<li><img src="assets/images/photos/users/11.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/12.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/13.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/14.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/15.jpg" alt=""></li>
									</ul>
									<span>+93 MORE</span>
								</div>
							</div>
						</a>
						<!-- ***** App Item End ***** -->
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Page Content End ***** -->
	</section>


{% endblock %}