{% extends "layout/base_all.html" %}
{% load static %}

{% block content %}
	<section class="page">
		<!-- ***** Page Top Start ***** -->
		<div class="cover" data-image="assets/images/photos/parallax.jpg">
			<div class="page-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h1>Blog</h1>
						</div>
						<div class="col-lg-12 text-center">
							<ol class="breadcrumb">
								<li><a href="index-1.html">Home</a></li>
								<li class="active">Blog</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Page Top End ***** -->

		<!-- ***** Page Content Start ***** -->
		<div class="page-bottom pbottom-80">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-12 col-sm-12">
						<div class="blog-list">
							<div class="row">
								<!-- ***** Blog Post Standard Start ***** -->
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="blog-post-thumb">
										<div class="img">
											<img src="assets/images/photos/blog/1.jpg" alt="">
										</div>
										<div class="post-content">
											<div class="date">APR 09</div>
											<ul class="post-meta">
												<li><a href="#"><span class="icon fa fa-user"></span>by Lintor</a></li>
												<li><a href="#"><span class="icon fa fa-comment-o"></span>3 Comments </a></li>
											</ul>
											<h3>
												<a href="blog-single.html">Measuring app success through mobile analytics</a>
											</h3>
											<div class="text">
												Cras imperdiet faucibus sem, a dignissim urna feugiat sed. Interdum et malesuada fames ac ante ipsum primis in faucibus.
											</div>
											<a href="blog-single.html" class="btn-primary-line">Read More</a>
										</div>
									</div>
								</div>
								<!-- ***** Blog Post Standard End ***** -->

								<!-- ***** Blog Post Standard Start ***** -->
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="blog-post-thumb">
										<div class="img">
											<img src="assets/images/photos/blog/2.jpg" alt="">
										</div>
										<div class="post-content">
											<div class="date">APR 09</div>
											<ul class="post-meta">
												<li><a href="#"><span class="icon fa fa-user"></span>by Lintor</a></li>
												<li><a href="#"><span class="icon fa fa-comment-o"></span>3 Comments </a></li>
											</ul>
											<h3>
												<a href="blog-single.html">How accessibility will influence your app dev</a>
											</h3>
											<div class="text">
												Quisque euismod nec lacus sit amet maximus. Ut convallis sagittis lorem auctor malesuada. Morbi auctor tortor eu lacus.
											</div>
											<a href="blog-single.html" class="btn-primary-line">Read More</a>
										</div>
									</div>
								</div>
								<!-- ***** Blog Post Standard End ***** -->

								<!-- ***** Blog Post Standard Start ***** -->
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="blog-post-thumb">
										<div class="img">
											<img src="assets/images/photos/blog/3.jpg" alt="">
										</div>
										<div class="post-content">
											<div class="date">APR 09</div>
											<ul class="post-meta">
												<li><a href="#"><span class="icon fa fa-user"></span>by Lintor</a></li>
												<li><a href="#"><span class="icon fa fa-comment-o"></span>3 Comments </a></li>
											</ul>
											<h3>
												<a href="blog-single.html">Measuring app success through mobile analytics</a>
											</h3>
											<div class="text">
												Cras imperdiet faucibus sem, a dignissim urna feugiat sed. Interdum et malesuada fames ac ante ipsum primis in faucibus.
											</div>
											<a href="blog-single.html" class="btn-primary-line">Read More</a>
										</div>
									</div>
								</div>
								<!-- ***** Blog Post Standard End ***** -->

								<!-- ***** Blog Post Standard Start ***** -->
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="blog-post-thumb">
										<div class="img">
											<img src="assets/images/photos/blog/4.jpg" alt="">
										</div>
										<div class="post-content">
											<div class="date">APR 09</div>
											<ul class="post-meta">
												<li><a href="#"><span class="icon fa fa-user"></span>by Lintor</a></li>
												<li><a href="#"><span class="icon fa fa-comment-o"></span>3 Comments </a></li>
											</ul>
											<h3>
												<a href="blog-single.html">How accessibility will influence your app dev</a>
											</h3>
											<div class="text">
												Quisque euismod nec lacus sit amet maximus. Ut convallis sagittis lorem auctor malesuada. Morbi auctor tortor eu lacus.
											</div>
											<a href="blog-single.html" class="btn-primary-line">Read More</a>
										</div>
									</div>
								</div>
								<!-- ***** Blog Post Standard End ***** -->

								<!-- ***** Blog Post Standard Start ***** -->
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="blog-post-thumb">
										<div class="img">
											<img src="assets/images/photos/blog/5.jpg" alt="">
										</div>
										<div class="post-content">
											<div class="date">APR 09</div>
											<ul class="post-meta">
												<li><a href="#"><span class="icon fa fa-user"></span>by Lintor</a></li>
												<li><a href="#"><span class="icon fa fa-comment-o"></span>3 Comments </a></li>
											</ul>
											<h3>
												<a href="blog-single.html">Measuring app success through mobile analytics</a>
											</h3>
											<div class="text">
												Cras imperdiet faucibus sem, a dignissim urna feugiat sed. Interdum et malesuada fames ac ante ipsum primis in faucibus.
											</div>
											<a href="blog-single.html" class="btn-primary-line">Read More</a>
										</div>
									</div>
								</div>
								<!-- ***** Blog Post Standard End ***** -->

								<!-- ***** Blog Post Standard Start ***** -->
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="blog-post-thumb">
										<div class="img">
											<img src="assets/images/photos/blog/6.jpg" alt="">
										</div>
										<div class="post-content">
											<div class="date">APR 09</div>
											<ul class="post-meta">
												<li><a href="#"><span class="icon fa fa-user"></span>by Lintor</a></li>
												<li><a href="#"><span class="icon fa fa-comment-o"></span>3 Comments </a></li>
											</ul>
											<h3>
												<a href="blog-single.html">How accessibility will influence your app dev</a>
											</h3>
											<div class="text">
												Quisque euismod nec lacus sit amet maximus. Ut convallis sagittis lorem auctor malesuada. Morbi auctor tortor eu lacus.
											</div>
											<a href="blog-single.html" class="btn-primary-line">Read More</a>
										</div>
									</div>
								</div>
								<!-- ***** Blog Post Standard End ***** -->
							</div>
						</div>

						<!-- ***** Pagination Start ***** -->
						<nav>
							<ul class="pagination justify-content-center">
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
										<span class="sr-only">Previous</span>
									</a>
								</li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
										<span class="sr-only">Next</span>
									</a>
								</li>
							</ul>
						</nav>
						<!-- ***** Pagination End ***** -->
					</div>

					<!-- ***** Aside Start ***** -->
					<div class="col-lg-4 col-md-12 col-sm-12">
						<aside class="default-aside">
							<div class="sidebar">
								<div class="search-widget">
									<div class="search">
										<form action="">
											<input type="text" placeholder="Search">
											<button type="submit"><i class="fa fa-search"></i></button>
										</form>
									</div>
								</div>
								<ul>
									<li><a href="#">Technology <span>23</span></a></li>
									<li><a href="#">Companies <span>12</span></a></li>
									<li><a href="#">Mobile <span>153</span></a></li>
									<li><a href="#">Social Media <span>9</span></a></li>
									<li><a href="#">General <span>95</span></a></li>
									<li><a href="#">App Review <span>32</span></a></li>
									<li><a href="#">Mobile Future <span>76</span></a></li>
								</ul>
								<div class="home-services-item box active">
									<h5 class="services-title">Tell us about your projects and we’ll get back to you with details on how we can make this work. Or just ask us anything mobile.</h5>
									<div class="phone">
										<i class="fa fa-phone"></i>
										<span>(272) 211-7370</span>
									</div>
									<a class="btn-white-line" href="#">CONTACT US</a>
								</div>
								<div class="widget-tags">
									<a href="#">Team</a>
									<a href="#">iOS</a>
									<a href="#">Android</a>
									<a href="#">App</a>
									<a href="#">Feature</a>
									<a href="#">Development</a>
									<a href="#">Design</a>
									<a href="#">Store</a>
									<a href="#">UX</a>
									<a href="#">Back-End</a>
									<a href="#">UI</a>
									<a href="#">Coding</a>
									<a href="#">Database</a>
								</div>
							</div>
						</aside>
					</div>
					<!-- ***** Aside End ***** -->
				</div>
			</div>
		</div>
		<!-- ***** Page Content End ***** -->
	</section>

{% endblock %}