{% extends "layout/base.html" %}
{% load static %}

{% block content %}
<!-- ***** Wellcome Area Start ***** -->
	<section class="welcome-area-1">
		<div class="welcome-bottom">
			<div class="image-content">
				<img src="{% static 'sixg/images/photos/welcome/1.jpg' %}" alt="">
			</div>
		</div>
		<div class="welcome-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="text-content">
							<h1>Создание приложений и веб сервисов от начала и до конца</h1>
							<p>Мы занимаемся дизайном и разработкой веб приложений и сервисов. Любим использовать новые технологии и готовы взяться за интересные и неординарные проекты</p>
							<a class="btn-secondary-white-block" href="#">Наши работы</a>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="slider-position"></div>
					</div>
				</div>
			</div>
			<div class="slider-wrapper">
				<div class="base">
					<div class="prev">
						<i class="fa fa-angle-left"></i>
					</div>
					<div class="next">
						<i class="fa fa-angle-right"></i>
					</div>
				</div>
				<div class="owl-carousel">
					<div class="item">
						<div class="header">
							<div class="img">
								<img src="{% static 'sixg/images/icons/apps/1.png' %}" alt="">
							</div>
							<div class="content">
								<h5>Mobile Stats</h5>
								<ul class="stars">
									<li><i class="fa fa-star active"></i></li>
									<li><i class="fa fa-star active"></i></li>
									<li><i class="fa fa-star active"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li>(144)</li>
								</ul>
							</div>
						</div>
						<div class="text">
							Nunc luctus ante nec turpis faucibus varius. Sed consectetur urna.
						</div>
					</div>
					<div class="item">
						<div class="header">
							<div class="img">
								<img src="{% static 'sixg/images/icons/apps/2.png' %}" alt="">
							</div>
							<div class="content">
								<h5>Online Shopping</h5>
								<ul class="stars">
									<li><i class="fa fa-star active"></i></li>
									<li><i class="fa fa-star active"></i></li>
									<li><i class="fa fa-star active"></i></li>
									<li><i class="fa fa-star active"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li>(168)</li>
								</ul>
							</div>
						</div>
						<div class="text">
							Mauris sagittis feugiat dui vel varius. Sed consectetur urna.
						</div>
					</div>
					<div class="item">
						<div class="header">
							<div class="img">
								<img src="{% static 'sixg/images/icons/apps/3.png' %}" alt="">
							</div>
							<div class="content">
								<h5>Pocket Office</h5>
								<ul class="stars">
									<li><i class="fa fa-star active"></i></li>
									<li><i class="fa fa-star active"></i></li>
									<li><i class="fa fa-star active"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li>(144)</li>
								</ul>
							</div>
						</div>
						<div class="text">
							Aliquam dolor sapien, porta at lorem a, interdum dapibus nisi.
						</div>
					</div>
					<div class="item">
						<div class="header">
							<div class="img">
								<img src="{% static 'sixg/images/icons/apps/4.png' %}" alt="">
							</div>
							<div class="content">
								<h5>Awesome Mail</h5>
								<ul class="stars">
									<li><i class="fa fa-star active"></i></li>
									<li><i class="fa fa-star active"></i></li>
									<li><i class="fa fa-star active"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li>(72)</li>
								</ul>
							</div>
						</div>
						<div class="text">
							Aliquam dolor sapien, porta at lorem a, interdum dapibus nisi.
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
	<!-- ***** Wellcome Area End ***** -->

{% endblock %}