{% extends "layout/base_all.html" %}
{% load static %}

{% block content %}

	<section class="page">
		<!-- ***** Page Top Start ***** -->
		<div class="cover" data-image="assets/images/photos/parallax.jpg">
			<div class="page-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h1>Our Work</h1>
						</div>
						<div class="col-lg-12 text-center">
							<ol class="breadcrumb">
								<li><a href="index-1.html">Home</a></li>
								<li class="active">Our Work</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Page Top End ***** -->

		<!-- ***** Page Content Start ***** -->
		<div class="page-bottom pbottom-80">
			<div class="container">
				<div class="row">
					<!-- ***** App Item Start ***** -->
					<div class="col-lg-4 col-md-6 col-sm-12">
						<a href="app-single.html" class="page-app">
							<div class="app-top">
								<div class="icon">
									<img src="assets/images/icons/apps/1.png" alt="">
								</div>
								<div class="app-title">
									<h5 class="title">Mobile Stats</h5>
									<ul class="stars">
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li>(144)</li>
									</ul>
								</div>
							</div>
							<div class="app-content">
								<div class="text">
									Nunc luctus ante nec turpis faucibus varius. Sed consectetur urna sed odio varius vehicula. Aenean tincidunt venenatis ex.
								</div>
								<ul class="app-table">
									<li>
										<div class="table-title">Size</div>
										<div class="table-content">16.8 MB</div>
									</li>
									<li>
										<div class="table-title">Category</div>
										<div class="table-content">Office</div>
									</li>
									<li>
										<div class="table-title">Languages</div>
										<div class="table-content">English, Dutch</div>
									</li>
									<li>
										<div class="table-title">Age Rating</div>
										<div class="table-content">Rated 12+</div>
									</li>
									<li>
										<div class="table-title">Price</div>
										<div class="table-content">Free</div>
									</li>
								</ul>
								<div class="users">
									<ul class="images">
										<li><img src="assets/images/photos/users/1.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/2.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/3.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/4.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/5.jpg" alt=""></li>
									</ul>
									<span>+138 MORE</span>
								</div>
							</div>
						</a>
					</div>
					<!-- ***** App Item End ***** -->
					
					<!-- ***** App Item Start ***** -->
					<div class="col-lg-4 col-md-6 col-sm-12">
						<a href="app-single.html" class="page-app">
							<div class="app-top">
								<div class="icon">
									<img src="assets/images/icons/apps/2.png" alt="">
								</div>
								<div class="app-title">
									<h5 class="title">Online Shopping</h5>
									<ul class="stars">
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li>(72)</li>
									</ul>
								</div>
							</div>
							<div class="app-content">
								<div class="text">
									Nunc luctus ante nec turpis faucibus varius. Sed consectetur urna sed odio varius vehicula. Aenean tincidunt venenatis ex.
								</div>
								<ul class="app-table">
									<li>
										<div class="table-title">Size</div>
										<div class="table-content">23.2 MB</div>
									</li>
									<li>
										<div class="table-title">Category</div>
										<div class="table-content">e-Commerce</div>
									</li>
									<li>
										<div class="table-title">Languages</div>
										<div class="table-content">English, Czech</div>
									</li>
									<li>
										<div class="table-title">Age Rating</div>
										<div class="table-content">Rated 12+</div>
									</li>
									<li>
										<div class="table-title">Price</div>
										<div class="table-content">
											<div class="price">$9.99</div>
										</div>
									</li>
								</ul>
								<div class="users">
									<ul class="images">
										<li><img src="assets/images/photos/users/6.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/7.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/8.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/9.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/10.jpg" alt=""></li>
									</ul>
									<span>+73 MORE</span>
								</div>
							</div>
						</a>
					</div>
					<!-- ***** App Item End ***** -->
					
					<!-- ***** App Item Start ***** -->
					<div class="col-lg-4 col-md-6 col-sm-12">
						<a href="app-single.html" class="page-app">
							<div class="app-top">
								<div class="icon">
									<img src="assets/images/icons/apps/3.png" alt="">
								</div>
								<div class="app-title">
									<h5 class="title">Pocket Office</h5>
									<ul class="stars">
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star "></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li>(21)</li>
									</ul>
								</div>
							</div>
							<div class="app-content">
								<div class="text">
									Nunc luctus ante nec turpis faucibus varius. Sed consectetur urna sed odio varius vehicula. Aenean tincidunt venenatis ex.
								</div>
								<ul class="app-table">
									<li>
										<div class="table-title">Size</div>
										<div class="table-content">168.8 MB</div>
									</li>
									<li>
										<div class="table-title">Category</div>
										<div class="table-content">Office</div>
									</li>
									<li>
										<div class="table-title">Languages</div>
										<div class="table-content">English, Arabic</div>
									</li>
									<li>
										<div class="table-title">Age Rating</div>
										<div class="table-content">Rated 12+</div>
									</li>
									<li>
										<div class="table-title">Price</div>
										<div class="table-content">
											<div class="price">$1.99</div>
										</div>
									</li>
								</ul>
								<div class="users">
									<ul class="images">
										<li><img src="assets/images/photos/users/11.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/12.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/13.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/14.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/15.jpg" alt=""></li>
									</ul>
									<span>+93 MORE</span>
								</div>
							</div>
						</a>
					</div>
					<!-- ***** App Item End ***** -->
					
					<!-- ***** App Item Start ***** -->
					<div class="col-lg-4 col-md-6 col-sm-12">
						<a href="app-single.html" class="page-app">
							<div class="app-top">
								<div class="icon">
									<img src="assets/images/icons/apps/4.png" alt="">
								</div>
								<div class="app-title">
									<h5 class="title">Awesome Mail</h5>
									<ul class="stars">
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li>(123)</li>
									</ul>
								</div>
							</div>
							<div class="app-content">
								<div class="text">
									Nunc luctus ante nec turpis faucibus varius. Sed consectetur urna sed odio varius vehicula. Aenean tincidunt venenatis ex.
								</div>
								<ul class="app-table">
									<li>
										<div class="table-title">Size</div>
										<div class="table-content">16.8 MB</div>
									</li>
									<li>
										<div class="table-title">Category</div>
										<div class="table-content">Tools</div>
									</li>
									<li>
										<div class="table-title">Languages</div>
										<div class="table-content">English, Danish</div>
									</li>
									<li>
										<div class="table-title">Age Rating</div>
										<div class="table-content">Rated 12+</div>
									</li>
									<li>
										<div class="table-title">Price</div>
										<div class="table-content">Free</div>
									</li>
								</ul>
								<div class="users">
									<ul class="images">
										<li><img src="assets/images/photos/users/1.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/2.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/3.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/4.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/5.jpg" alt=""></li>
									</ul>
									<span>+57 MORE</span>
								</div>
							</div>
						</a>
					</div>
					<!-- ***** App Item End ***** -->
					
					<!-- ***** App Item Start ***** -->
					<div class="col-lg-4 col-md-6 col-sm-12">
						<a href="app-single.html" class="page-app">
							<div class="app-top">
								<div class="icon">
									<img src="assets/images/icons/apps/5.png" alt="">
								</div>
								<div class="app-title">
									<h5 class="title">Coding Life</h5>
									<ul class="stars">
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star active"></i></li>
										<li>(374)</li>
									</ul>
								</div>
							</div>
							<div class="app-content">
								<div class="text">
									Nunc luctus ante nec turpis faucibus varius. Sed consectetur urna sed odio varius vehicula. Aenean tincidunt venenatis ex.
								</div>
								<ul class="app-table">
									<li>
										<div class="table-title">Size</div>
										<div class="table-content">74.3 MB</div>
									</li>
									<li>
										<div class="table-title">Category</div>
										<div class="table-content">Business</div>
									</li>
									<li>
										<div class="table-title">Languages</div>
										<div class="table-content">English, Czech</div>
									</li>
									<li>
										<div class="table-title">Age Rating</div>
										<div class="table-content">Rated 12+</div>
									</li>
									<li>
										<div class="table-title">Price</div>
										<div class="table-content">Free</div>
									</li>
								</ul>
								<div class="users">
									<ul class="images">
										<li><img src="assets/images/photos/users/6.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/7.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/8.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/9.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/10.jpg" alt=""></li>
									</ul>
									<span>+27 MORE</span>
								</div>
							</div>
						</a>
					</div>
					<!-- ***** App Item End ***** -->
					
					<!-- ***** App Item Start ***** -->
					<div class="col-lg-4 col-md-6 col-sm-12">
						<a href="app-single.html" class="page-app">
							<div class="app-top">
								<div class="icon">
									<img src="assets/images/icons/apps/6.png" alt="">
								</div>
								<div class="app-title">
									<h5 class="title">Call Recorder</h5>
									<ul class="stars">
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li>(98)</li>
									</ul>
								</div>
							</div>
							<div class="app-content">
								<div class="text">
									Nunc luctus ante nec turpis faucibus varius. Sed consectetur urna sed odio varius vehicula. Aenean tincidunt venenatis ex.
								</div>
								<ul class="app-table">
									<li>
										<div class="table-title">Size</div>
										<div class="table-content">16.8 MB</div>
									</li>
									<li>
										<div class="table-title">Category</div>
										<div class="table-content">Office</div>
									</li>
									<li>
										<div class="table-title">Languages</div>
										<div class="table-content">English, Croatian</div>
									</li>
									<li>
										<div class="table-title">Age Rating</div>
										<div class="table-content">Rated 12+</div>
									</li>
									<li>
										<div class="table-title">Price</div>
										<div class="table-content">
											<div class="price">$12.99</div>
										</div>
									</li>
								</ul>
								<div class="users">
									<ul class="images">
										<li><img src="assets/images/photos/users/11.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/12.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/13.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/14.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/15.jpg" alt=""></li>
									</ul>
									<span>+36 MORE</span>
								</div>
							</div>
						</a>
					</div>
					<!-- ***** App Item End ***** -->

					<!-- ***** App Item Start ***** -->
					<div class="col-lg-4 col-md-6 col-sm-12">
						<a href="app-single.html" class="page-app">
							<div class="app-top">
								<div class="icon">
									<img src="assets/images/icons/apps/7.png" alt="">
								</div>
								<div class="app-title">
									<h5 class="title">Mobile Security</h5>
									<ul class="stars">
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li>(123)</li>
									</ul>
								</div>
							</div>
							<div class="app-content">
								<div class="text">
									Nunc luctus ante nec turpis faucibus varius. Sed consectetur urna sed odio varius vehicula. Aenean tincidunt venenatis ex.
								</div>
								<ul class="app-table">
									<li>
										<div class="table-title">Size</div>
										<div class="table-content">16.8 MB</div>
									</li>
									<li>
										<div class="table-title">Category</div>
										<div class="table-content">Tools</div>
									</li>
									<li>
										<div class="table-title">Languages</div>
										<div class="table-content">English, Dutch</div>
									</li>
									<li>
										<div class="table-title">Age Rating</div>
										<div class="table-content">Rated 12+</div>
									</li>
									<li>
										<div class="table-title">Price</div>
										<div class="table-content"><span class="price">$6.99</span></div>
									</li>
								</ul>
								<div class="users">
									<ul class="images">
										<li><img src="assets/images/photos/users/1.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/2.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/3.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/4.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/5.jpg" alt=""></li>
									</ul>
									<span>+94 MORE</span>
								</div>
							</div>
						</a>
					</div>
					<!-- ***** App Item End ***** -->
					
					<!-- ***** App Item Start ***** -->
					<div class="col-lg-4 col-md-6 col-sm-12">
						<a href="app-single.html" class="page-app">
							<div class="app-top">
								<div class="icon">
									<img src="assets/images/icons/apps/8.png" alt="">
								</div>
								<div class="app-title">
									<h5 class="title">Offline Translator</h5>
									<ul class="stars">
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star active"></i></li>
										<li>(374)</li>
									</ul>
								</div>
							</div>
							<div class="app-content">
								<div class="text">
									Nunc luctus ante nec turpis faucibus varius. Sed consectetur urna sed odio varius vehicula. Aenean tincidunt venenatis ex.
								</div>
								<ul class="app-table">
									<li>
										<div class="table-title">Size</div>
										<div class="table-content">74.3 MB</div>
									</li>
									<li>
										<div class="table-title">Category</div>
										<div class="table-content">Office</div>
									</li>
									<li>
										<div class="table-title">Languages</div>
										<div class="table-content">English, Turkish</div>
									</li>
									<li>
										<div class="table-title">Age Rating</div>
										<div class="table-content">Rated 12+</div>
									</li>
									<li>
										<div class="table-title">Price</div>
										<div class="table-content">Free</div>
									</li>
								</ul>
								<div class="users">
									<ul class="images">
										<li><img src="assets/images/photos/users/6.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/7.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/8.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/9.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/10.jpg" alt=""></li>
									</ul>
									<span>+156 MORE</span>
								</div>
							</div>
						</a>
					</div>
					<!-- ***** App Item End ***** -->
					
					<!-- ***** App Item Start ***** -->
					<div class="col-lg-4 col-md-6 col-sm-12">
						<a href="app-single.html" class="page-app">
							<div class="app-top">
								<div class="icon">
									<img src="assets/images/icons/apps/1.png" alt="">
								</div>
								<div class="app-title">
									<h5 class="title">Pocket Office</h5>
									<ul class="stars">
										<li><i class="fa fa-star active"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li>(98)</li>
									</ul>
								</div>
							</div>
							<div class="app-content">
								<div class="text">
									Nunc luctus ante nec turpis faucibus varius. Sed consectetur urna sed odio varius vehicula. Aenean tincidunt venenatis ex.
								</div>
								<ul class="app-table">
									<li>
										<div class="table-title">Size</div>
										<div class="table-content">16.8 MB</div>
									</li>
									<li>
										<div class="table-title">Category</div>
										<div class="table-content">Office</div>
									</li>
									<li>
										<div class="table-title">Languages</div>
										<div class="table-content">English, Croatian</div>
									</li>
									<li>
										<div class="table-title">Age Rating</div>
										<div class="table-content">Rated 12+</div>
									</li>
									<li>
										<div class="table-title">Price</div>
										<div class="table-content">
											<div class="price">$12.99</div>
										</div>
									</li>
								</ul>
								<div class="users">
									<ul class="images">
										<li><img src="assets/images/photos/users/11.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/12.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/13.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/14.jpg" alt=""></li>
										<li><img src="assets/images/photos/users/15.jpg" alt=""></li>
									</ul>
									<span>+48 MORE</span>
								</div>
							</div>
						</a>
					</div>
					<!-- ***** App Item End ***** -->
				</div>
			</div>
		</div>
		<!-- ***** Page Content End ***** -->
	</section>


{% endblock %}