{% extends "layout/base_all.html" %}
{% load static %}

{% block content %}

	<section class="page">
		<!-- ***** Page Top Start ***** -->
		<div class="cover" data-image="assets/images/photos/parallax.jpg">
			<div class="page-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h1>Mobility Services Strategy</h1>
						</div>
						<div class="col-lg-12 text-center">
							<ol class="breadcrumb">
								<li><a href="index-1.html">Home</a></li>
								<li><a href="services.html">Services</a></li>
								<li class="active">Services Single</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Page Top End ***** -->

		<!-- ***** Page Content Start ***** -->
		<div class="page-bottom pbottom-70">
			<div class="container">
				<div class="row">
					<!-- ***** Content Start ***** -->
					<div class="col-lg-8 col-md-12 col-sm-12">
						<div class="services-single-content">
							<div class="img">
								<img src="assets/images/photos/services/7.jpg" class="img-fluid rounded" alt="">
							</div>

							<p>Proin pellentesque quam at quam aliquet, eget mattis quam euismod. Curabitur imperdiet suscipit facilisis. Maecenas diam quam, sodales eu est eu.</p>

							<p>Sed rhoncus facilisis risus, nec sagittis dui luctus in. Nunc eget ante odio. Suspendisse eu diam ut nisi ullamcorper interdum. Pellentesque sit amet quam risus. In a augue aliquam, venenatis tortor in, placerat purus. Donec rhoncus nisi.</p>

							<!-- ***** Gallery Start ***** -->
							<div class="row page-gallery-wrapper">
								<div class="col-lg-4 col-md-4 col-sm-12">
									<a href="assets/images/photos/services/8.jpg" class="page-gallery small" title="Mobility Services Strategy">
										<img src="assets/images/photos/services/8.jpg" alt="">
									</a>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12">
									<a href="assets/images/photos/services/9.jpg" class="page-gallery small" title="Mobility Services Strategy">
										<img src="assets/images/photos/services/9.jpg" alt="">
									</a>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12">
									<a href="assets/images/photos/services/10.jpg" class="page-gallery small" title="Mobility Services Strategy">
										<img src="assets/images/photos/services/10.jpg" alt="">
									</a>
								</div>
							</div>
							<!-- ***** Gallery End ***** -->

							<p>Sed rhoncus facilisis risus, nec sagittis dui luctus in. Nunc eget ante odio. Suspendisse eu diam ut nisi ullamcorper interdum. Pellentesque sit amet quam risus. In a augue aliquam, venenatis tortor in, placerat purus. Donec rhoncus nisi sit amet convallis tempor.</p>

							<div class="faq" id="accordion">
								<div class="card">
									<div class="card-header" id="faqHeading-1">
										<div class="mb-0">
											<h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
												Competition Research
											</h5>
										</div>
									</div>
									<div id="faqCollapse-1" class="collapse show" aria-labelledby="faqHeading-1" data-parent="#accordion">
										<div class="card-body">
											<div class="content">
												<p>Aliquam erat odio, fringilla at porta a, vehicula ultricies est. Aliquam maximus turpis in dignissim pellentesque. Ut dolor quam, aliquam eget bibendum nec, luctus non metus. Morbi convallis imperdiet dolor id porttitor.</p>
												<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed finibus faucibus congue. Interdum et malesuada fames ac ante ipsum primis.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="faqHeading-2">
										<div class="mb-0">
											<h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="false" data-aria-controls="faqCollapse-2">
												User Definition & Profiling
											</h5>
										</div>
									</div>
									<div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
										<div class="card-body">
											<div class="content">
												<p>Aliquam erat odio, fringilla at porta a, vehicula ultricies est. Aliquam maximus turpis in dignissim pellentesque. Ut dolor quam, aliquam eget bibendum nec, luctus non metus. Morbi convallis imperdiet dolor id porttitor.</p>
												<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed finibus faucibus congue. Interdum et malesuada fames ac ante ipsum primis.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="card mbottom-0">
									<div class="card-header" id="faqHeading-3">
										<div class="mb-0">
											<h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="false" data-aria-controls="faqCollapse-3">
												Performance Infrastructure: Analytics & KPIs
											</h5>
										</div>
									</div>
									<div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
										<div class="card-body">
											<div class="content">
												<p>Aliquam erat odio, fringilla at porta a, vehicula ultricies est. Aliquam maximus turpis in dignissim pellentesque. Ut dolor quam, aliquam eget bibendum nec, luctus non metus. Morbi convallis imperdiet dolor id porttitor.</p>
												<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed finibus faucibus congue. Interdum et malesuada fames ac ante ipsum primis.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ***** Content End ***** -->

					<!-- ***** Aside Start ***** -->
					<div class="col-lg-4 col-md-12 col-sm-12">
						<aside class="default-aside">
							<div class="sidebar">
								<ul>
									<li><a href="#">Mobility Services Strategy</a></li>
									<li class="active"><a href="#">Native App Development</a></li>
									<li><a href="#">Design & User Experience</a></li>
									<li><a href="#">Maintenance & Monitoring</a></li>
									<li><a href="#">User Definition & Profiling</a></li>
									<li><a href="#">Graphic Assets for App Stores</a></li>
									<li><a href="#">API Development Using Node.js</a></li>
									<li><a href="#">Database Solutions Using PHP</a></li>
								</ul>

								<a href="#" class="download">
									<div class="icon">
										<i class="fa fa-file-pdf-o"></i>
									</div>
									<div class="text">Download application brochure.</div>
								</a>

								<a href="#" class="download">
									<div class="icon">
										<i class="fa fa-file-word-o"></i>
									</div>
									<div class="text">Download application brochure.</div>
								</a>

								<div class="home-services-item box active">
									<h5 class="services-title">Tell us about your projects and we’ll get back to you with details on how we can make this work. Or just ask us anything mobile.</h5>
									<div class="phone">
										<i class="fa fa-phone"></i>
										<span>(272) 211-7370</span>
									</div>
									<a class="btn-white-line" href="#">CONTACT US</a>
								</div>
							</div>
						</aside>
					</div>
					<!-- ***** Aside End ***** -->
				</div>
			</div>
		</div>
		<!-- ***** Page Content End ***** -->
	</section>


{% endblock %}